.authform {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 30px black;
}

.authform__logo {
    width: 100%;
}

.authform__logo img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 20px;
}

.authform__fieldset {
    border: 0;
    padding: 0;
}

.authform__fieldset legend {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.authform__fieldset label {
    position: relative;
    min-height: 1px;
    display: inline-block;
    max-width: 25%;
    margin-bottom: 5px;
    font-weight: 700;
}

.in-wrapp {
    position: relative;
    min-height: 1px;
    margin-bottom: 15px;
}

#username, 
#password {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    margin-right: 5px;
}

button {
    align-items: flex-start;
    background-color: rgb(51, 122, 183);
    background-image: linear-gradient(rgb(51, 122, 183) 0px, rgb(38, 90, 136) 100%);
    border-bottom-color: rgb(36, 85, 128);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(36, 85, 128);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(36, 85, 128);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(36, 85, 128);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 1px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    filter: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 34px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    text-size-adjust: 100%;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    white-space: nowrap;
    width: 340px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

button:hover {
    background: rgb(38, 90, 136);
    text-shadow: none;
}

button:active {
    background: rgb(36, 85, 128);
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.alert {
    display: block;
    color: #ec1c4b;
}

@media (min-width: 768px) {
    .authform__fieldset label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
        width: 25%;
        float: left;
    }

    .in-wrapp {
        width: 75%;
        float: left;
    }
}

