<form class="authform" autocomplete="on" [formGroup]="authform">
    <div class="authform__logo">
        <img src="../../assets/img/logo-gross.png" alt="schoolupdate-logo">
    </div>

    <fieldset class="authform__fieldset">
        <legend>Login</legend>
        <label for="username">Username: </label>
        <div class="in-wrapp"><input type="text" id="username" formControlName="usernameControl" placeholder="Username" name="username"></div>
        <label for="password">Password: </label>
        <div class="in-wrapp"><input type="password" id="password" formControlName="passwordControl" placeholder="Password" name="password" autocomplete="off"></div>
        <small *ngIf="authform.invalid" class="alert">Username and password should contain only symbols, numbers and "_". Length is more than 2.</small>
    </fieldset>
    <p><input type="checkbox" name="remember" id="remember" formControlName="remember"><label for="remember">Remember me</label></p>
    <p><button id="loginBut" value="login" (click)="login()" [disabled]="authform.invalid || authform.get('usernameControl').value === null || authform.get('passwordControl').value === null || authform.get('usernameControl').value === '' || authform.get('passwordControl').value === ''">Log in</button></p>
    <p><button value="register" (click)="register()">Register</button></p>
</form>