/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    background: url('../src/assets/img/kinder.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
}

main {
    height: 100%;
    position: relative;
}